/* Portfolio stylesheet name: portstyle.css */
/* color palette: #F7F5F1, #918D7D, #A79DA7, #7C7DAC, #41385B */

body {
    background-color:#7C7DAC;
}

h1 {
    color:#41385B;
}

p {
    color:#41385B;
}

.navcolor {
    background-color:#41385B;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

.pad {
    padding: 20px;
}

.banner-blue {
    background-color: #f7f5f1;
    padding: 20px;
    color:#41385B;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}